.DS_Store
babyry.xcodeproj/project.xcworkspace/xcuserdata/kenjiszk.xcuserdatad/UserInterfaceState.xcuserstate
babyry.xcworkspace/xcuserdata/kenjiszk.xcuserdatad/UserInterfaceState.xcuserstate
babyry/SecretConfig.m
