.DS_Store
babyry.xcodeproj/project.pbxproj
babyry.xcodeproj/project.xcworkspace/xcuserdata/kenjiszk.xcuserdatad/UserInterfaceState.xcuserstate
babyry.xcworkspace/xcuserdata/kenjiszk.xcuserdatad/UserInterfaceState.xcuserstate
babyry.xcworkspace/xcuserdata/kenjiszk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
babyry.xcodeproj/xcuserdata/kenjiszk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
babyry/SecretConfig.m
