<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InquiryEmail</key>
	<string>info@meaning.co.jp</string>
	<key>AppVersion</key>
	<string>1.0.0</string>
	<key>AWSBucketName</key>
	<string>babyry-images</string>
</dict>
</plist>
